*{
    box-sizing: border-box; 
 }

 .body{
    font-family: 'Hind Siliguri', Helvetica, Arial, sans-serif;
 }

 .d-grid{
     display: grid;
 }

 .msglayout{
    display: grid;
    grid-template-columns: 30ch 1fr;
    min-height: 100vh;
    /* grid-template-columns: fit-content(40ch) minmax(min(50vw , 30ch) , 1fr); */
 }

 .msgs-input{
   border: 1px solid rgba(1, 145, 97, 0.2);
   border-radius: 3px;
 }

.sidebar{
    background: #ffffff;
}

.main-content{
     
    background: #FAFBFC;
 }

a{
     cursor: pointer;
 }

.add-message-sec{
    grid-template-columns: 60rem 1fr;
    grid-gap: 2rem;
 }