@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

/* *{
    box-sizing: border-box; 
 } */

body{
    /* font-family: 'Hind Siliguri', Helvetica, Arial, sans-serif; */
    font-family: 'Inter', sans-serif;
 }

 .d-grid{
     display: grid;
 }

 .msglayout{
    display: grid;
    grid-template-columns: 30ch 1fr;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;

    /* grid-template-columns: fit-content(40ch) minmax(min(50vw , 30ch) , 1fr); */
 }

 

 .light-green-input-border{
    border: 1px solid rgba(1, 145, 97, 0.2);
 }

 .border-input-grey{
    border: 1px solid #E9EFF4;
 }

.sidebar{
    background: #ffffff;
}

.sidebar > ul > li {
    list-style: none;
    padding-bottom: 1.5rem;
}

.sidebar > ul > li > a{
    text-decoration: none;
    color: #019161;
    font-weight: 500;
}

.main-content{
     
    background: #FAFBFC;
 }

a{
     cursor: pointer;
 }

 .gap-3{
    gap: 3rem;
 }



.add-message-sec{
    /* grid-template-columns: 60rem 1fr; */
    grid-template-columns: minmax(min(50vw, 30ch), 1fr) fit-content(20ch) ;
    grid-gap: 2rem;
}

.text-green{
    color:  #019161;
 }

 .add-message-title{
    list-style: decimal;
    border-bottom: 0.5px solid #DADADA;
    padding-bottom: 0.7rem;
 }

 .bg-light-blue{
    background: #4DA1FF;
 }

 .audio-box{
    border: 1px solid rgba(77, 161, 255, 0.7);
    border-radius: 3px;
}

.audio-box > li{
    list-style: none;
}

.border-none{
    border: none;
}